/*Grid template*/
.main-content {
    margin-left: 150px;
    margin-right: 150px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 11%);
    color: #f8f9fc;
    position: relative;
    top: 100px;
}

/*Cards with flip animation*/

/*Flip animation for next cards*/
.flip-container {
    perspective: 1000px;
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.flip-container,
.front,
.back {
    width: 100%;
    height: 100%;
}

/*Binary card*/
.flip-binary-container {
    grid-area: 1/1/5/6;
}

.binary-card-front {
    z-index: 2;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.binary-card-back {
    transform: rotateY(180deg);
    background-color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-button {
    font-size: 20px;
    height: 15%;
    width: 30%;
    color: #fff;
    background-color: #2d99ff;
    border: #f8f9fc;
    border-radius:4px;
}

.join-button:hover {
    background-color: #0443a3;
}

/*JS card*/
.flip-js-container {
    grid-area: 1/6/7/11;
}

.js-card-front {
    z-index: 2;
    background-color: #f7cf69;
    font-weight: bold;
    color: black;
    font-size: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.js-card-back {
    transform: rotateY(180deg);
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.js-card-back p {
    margin: 20px;
}

/*QA card*/
.flip-qa-container {
    grid-area: 5/1/9/6;
}

.qa-card-front {
    z-index: 2;
    background-color: #52bf77;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qa-card-back {
    transform: rotateY(180deg);
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.qa-card-back p {
    margin: 20px;
}

/*Cards with other animations*/
.card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    position: relative;
    top: -100%;
}

/*card initil animation*/
.card span{
    animation: increase-font 1s none;
}
@keyframes increase-font {
    from {
        font-size: 0px;
    }
}

.card-content {
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    position: relative;
    overflow: auto;
}

.card-content p {
    padding: 20px;
}

.java-content,
.php-content,
.net-content {
    font-size: 20px;
    font-weight: bold;
}

.events-content,
.blog-content {
    font-size: 15px;
    font-weight: normal;
}


/*Java card*/
.java-conteiner {
    grid-area: 7/6/9/11;
}

.java-card {
    background-color: #e12b4c;
    font-size: 40px;
    transform-origin: bottom;
}

.java-conteiner:hover .java-card {
    transform: scale(1, 0);
}

/*PHP card*/
.php-conteiner {
    grid-area: 1/11/4/21;

}

.php-card {
    background-color: #8893c0;
    font-size: 80px;
    font-style: italic;
    color: black;
    transform-origin: right top;
}

.php-conteiner:hover .php-card {
    transform: scale(0);
}


/*.NET card*/
.net-conteiner {
    grid-area: 4/11/9/17;
}

.net-card {
    background-color: #642077;
    font-size: 80px;
    transform-origin: right bottom;
}

.net-conteiner:hover .net-card {
    transform: scale(0);
}

/*Events card*/
.events-conteiner {
    grid-area: 4/17/6/21;
}

.events-card {
    background-color: #2d99ff;
    font-size: 20px;
    transform-origin: right;
}

.events-conteiner:hover .events-card {
    transform: scale(0, 1);
}

/*Blog card*/
.blog-conteiner {
    grid-area: 6/17/8/21;
}

.blog-card {
    background-color: #0443a3;
    transform-origin: right;
}

.blog-conteiner:hover .blog-card {
    transform: scale(0, 1);
}

/*Contacts card*/
.contacts-conteiner {
    grid-area: 8/17/9/21;
}

.contacts-card {
    background-color: #00265f;
    transform-origin: right;
}

.contacts-conteiner:hover .contacts-card {
    transform: scale(0, 1);
}

.contacts-content div {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-content div img {
    padding: 7px;
    height: 30px;
    width: 30px;
    filter: brightness(0);
}

.contacts-content div img:hover {
    filter: brightness(1);
    cursor: pointer;
}